.admonition.note > .admonition-title {
    background: #4582EC;
    color: #fff;
}

.admonition.note {
    border-color: #4582EC;
}

.admonition.tip > .admonition-title {
    background: #3E3F3A;
    color: #fff;
}

.admonition.tip {
    border-color: #3E3F3A;
}

a {
    color : #ae2573;
}
